* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* background-color: #f7f7f7; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  margin: 0;
  font-family: "Lato", sans-serif;
}

.container-box {
  width: 500px;
  border: 1px solid red;
  text-align: center;
  min-height: 600px;
  padding: 6px 0px;
}

h1 {
  letter-spacing: 1px;
}

.payment-box {
  display: flex;
  justify-content: space-between;
  margin: 4px 0;
  padding: 12px 8rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.payment-section {
  padding: 0px 12px;
}

.money {
  font-size: 20px;
  letter-spacing: 1px;
  margin: 5px 0;
}

.money.plus {
  color: #b6960a;
  font-weight: 700;
}

.money.minus {
  color: #2da3ad;
  font-weight: 700;
}

h4 {
  margin: 0;
  text-align: center;
}

h3 {
  border-bottom: 1px solid #bbb;
  padding-bottom: 10px;
  margin: 30px 0 10px;
}

.list {
  list-style-type: none;
  padding: 0;
  margin-bottom: 40px;
}

/* .greater-then {
  background-color: #fff;
  list-style: none;
  border-right: 5px solid #b6960a;
  box-shadow: 0 4px 3px rgba(207, 243, 5, 0.747);
  box-shadow: 0 8px 8px -4px rgba(207, 243, 5, 0.747);
  color: #333;
  display: flex;
  justify-content: space-between;
  position: relative;
  padding: 10px;
  margin: 10px 10px;
  width: 100%;
}
.greater-then:hover {
  background-color: #abb47bbd;
} */
/* **********.greater-then************** */

.greater-then {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 10px;
  margin: 10px 10px;
  border-right: 5px solid #b6960a;
  background-color: #fff;
  box-shadow: 0 8px 8px -4px rgba(198, 206, 154, 0.747);
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.greater-then:after {
  content: "";
  height: 100%;
  right: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
  background-color: #4a4e27bd;
}

.greater-then:hover:after {
  width: 100%;
  /* box-shadow: 0 8px 8px -4px rgba(207, 243, 5, 0.747); */
}

/* ************.less-then********** */
.less-then {
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 100%;
  padding: 10px;
  margin: 10px 10px;
  border-right: 5px solid #2da3ad;
  background-color: #fff;
  box-shadow: 0 8px 8px -4px lightblue;
  position: relative;
  z-index: 2;
  text-decoration: none;
  color: #444;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}
.less-then:after {
  content: "";
  height: 100%;
  right: 0;
  top: 0;
  width: 0px;
  position: absolute;
  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  z-index: -1;
  background-color: lightblue;
}

.less-then:hover:after {
  width: 100%;
  /* box-shadow: 0 8px 8px -4px rgb(100, 147, 163); */
}


.history-box {
  display: flex;
  align-items: center;
  position: relative;
}

.hide {
  display: none;
  position: absolute;
  /* z-index: 99; */
}

.history-box:hover .hide {
  display: inline;
  cursor: pointer;
}




.list-style {
  padding: 0px 12px;
}
.scroller::-webkit-scrollbar {
  display: none;
}

.scroller {
  height: 200px;
  overflow-y: scroll;
  scrollbar-gutter: stable;
}

label {
  display: inline-block;
  margin: 10px 0;
  font-weight: 700;
}

input[type="number"] {
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 5px;
}

input[type="text"] {
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  border: 1px solid #dedede;
  border-radius: 5px;
}

.btn {
  display: block;
  font-size: 16px;
  padding: 10px;
  width: 100%;
  cursor: pointer;
  background-color: #b0c4de;
  /* box-shadow: 0 1px 3px rgba(0,0,0,.12), 0 1px 2px rgba(0,0,0,.24); */
  box-shadow: var(--box-shadow);
  color: #fff;
  border: 0;
  margin: 10px 0 30px;
  font-weight: 700;
}

.get-form {
  padding: 0px 12px;
}
